body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: skyblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body{
  background-image: linear-gradient(to right, #0062e6, #0077f0, #008af7, #009cfc, #33aeff);
  
}

.card{
  background-color: white;
  border-radius: 0.8rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
  margin-right: 10px;
  width: 17rem;
  justify-content: center;
  
}

.features{
  list-style: none;
  text-align: left;
  border-top: 1px solid rgb(212, 209 ,209);
  padding-top: 0.75rem;
}

.features > li{
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}

.features > li::marker{
content: "✔️ ";
}

.card:nth-child(1) .features > li:nth-child(n + 5)::marker{
  content: "❌ ";
}

.card:nth-child(1) .features > li:nth-child(n + 5){
  opacity: 0.6;
}

.card:nth-child(2) .features > li:last-child::marker{
  content: "❌ ";
}

.card:nth-child(2) .features > li:last-child{
  opacity: 0.6;
}

.buy{
  width: 100%;
  background-color: #0d6efd;
  border-color: #0d6efd;
  color: white;
  border-radius: 1000px;
  padding: 0.75rem;
  font-size: 0.75rem;
  letter-spacing: 0px;

  opacity: 70%;
}

.buy:hover{
  background-color: #38485f;
  border-color: #0a58ca;
}

.price{
  font-size: 2rem;
  margin: 1rem 0 1rem;
  font-weight: 500;
}

.price-duration{
  font-size: 0.7rem;
}

.plan-name{
  color:slategray;
  font-size: 0.8rem;
  letter-spacing: 2px;
}

.flex{
  display: flex;
  justify-content: center;
  margin-top: 10%;
  

  
}